*~
*#*
*.o
*.d
test
test_quest
*.bin
*.obj
disasm/
callgrind*
*.out
*.gch

# Ignore cmake output
build/

# Ignore visual studio files
/.vs
/Debug

# Ignore generated documentation
docs/doxy
docs/html
docs/doctrees
v1/header/html

# C++ module files
gcm.cache

# HDF5 files
*.h5